/* Style */

body{
    font: 16/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(515.jpg);
    background-attachment: fixed;
}

.container{
    width: 960px;
    margin: auto;
    background-color: #fff;
}

.header{
    padding: 20px;
    padding-bottom: 10px;
    background-color: darkslateblue;
    color: darkgrey;
}

.header .judul{
    
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.line{
    width: 960px;
    margin-top: 50px;
    margin-left: -20px;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header a{
    text-decoration: none;
    color: darkgrey;
    padding: 3px;
}

.header a:hover{
    background-color:lightskyblue;
    color: white;
}

.hero{
    height: 300px;
    background-image: url(virus\ 2.jpg);
    background-size: cover;
    background-position: -50 0;
    border-top: 5px solid darkgrey;
    border-bottom: 5px solid darkgrey;
}

.main{
    width: 600px;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main p{
    text-align: justify;
}

.sidebar{
    width: 300px;
    float: right;
    padding: 20px;
    padding-top: none;
}

.sidebar h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
    margin-top: 50px;
}

.sidebar p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    text-align: justify;
}

.sidebar img{
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 20px ;
}

.sidebar a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #666;
    padding: 3px;
}

.sidebar a:hover{
    background-color: red;
    color: white;
}

.footer{
    padding: 1px;
    background-color: darkslateblue;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic
}


.cf:before,
.cf:after {
    content: " ";
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}